button {
  padding: 5px;
  background-color: transparent;
  border: 1px solid blue;
  border-radius: 4px;
}
ul{
  max-width: 300px;
}
li {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.btn-red {
  border: 1px solid red!important;
}
